{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
    <h1>Voici la liste des listes de produits :</h1>
        <h2><a href="/drive/formulaire-liste-produit/">Ajouter une liste de produit</a></h2>
    {% for l in listALL_lp %}
        <div class="bloc-info">
            <div class="container">{{ l.commande.client.prenom }} {{ l.commande.client.nom }} : {{ l.produit.produit }} x{{ l.quantite }}<button><a href="/drive/affiche-liste-produit/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-liste-produit/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-liste-produit/{{l.id}}/">DELETE</a></button></div>

    <a href="/drive/drive_pdf/{{l.id}}" class="file" target="blank">Generate PDF File</a>
        <a href="/drive/drive_csv/{{l.id}}" class="file" target="blank">Generate CSV File</a> </div>
    {% endfor %}
{% endblock %}