<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Commande</title>
</head>
<body>
    <h2>Formulaire Commandes :</h2>
    {% if id_commande == none %}
        <form method="post" action="/drive/traitement-commande/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-commande/{{id_commande}}/">
    {% endif %}
    {% csrf_token %}
    {{ form_commande.as_ul }}
    <input class="submit-input" type="submit" value="envoyer"\>
</body>
</html>