<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Commandes</title>
</head>
<body>
    <div>
        <h1>Voici la liste des Commandes crée :</h1>
        <br>
        {% for l in listALL_commande %}
        {{ l }}<button><a href="/drive/commande-catégorie/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-commande/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-commande/{{l.id}}/">DELETE</a></button><br>
        {% endfor %}
    </div>
</body>
</html>