{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
    <h1>Voici la liste des Commandes crées :</h1>
        <h2><a href="/drive/formulaire-commande/">Ajouter une commande</a></h2>
    <div class="bloc-info">
        {% for l in listALL_commande %}
        {{ l }}<div class="separ-button"><button><a href="/drive/affiche-commande/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-commande/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-commande/{{l.id}}/">DELETE</a></button></div>
        {% endfor %}
    </div>
{% endblock %}