<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Produit</title>
</head>
<body>
    <h2>Formulaire produit :</h2>
    {% if id_produit == none %}
        <form method="post" action="/drive/traitement-produit/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-produit/{{id_produit}}/">
    {% endif %}
    {% csrf_token %}
    {{ form_produit.as_ul }}
    <input class="submit-input" type="submit" value="envoyer"\>
</body>
</html>