{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
    <h2>Formulaire produit :</h2>
    {% if id_produit == none %}
        <form method="post" action="/drive/traitement-produit/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-produit/{{id_produit}}/">
    {% endif %}
    {% csrf_token %}
    {{ form_produit.as_ul }}
            <input class="submit-input" type="submit" value="envoyer"/></form>


            <!--<form method="post" action="/drive/uploadTxt" class="txt-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file">
                <input class="submit-input" type="submit" value="envoyer" id="produitFile" name="produitFile"/>-->
    {% endblock %}