<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiche Client</title>
</head>
<body>
    <div>
        Le numéro du Client est : {{ client.num_client }}<br>
        Le nom du Client est : {{ client.nom }}<br>
        Le prénom du Client est : {{ client.prenom }}<br>
        Le client s'est inscrit le : {{ client.date_inscription }}<br>
        L'adresse du Client est : {{ client.adresse }}<br>
        <button><a href="/drive/index-client/">RETOUR</a></button>
    </div>
</body>
</html>