<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Catégorie</title>
</head>
<body>
    {% if id_client == none %}
        <form method="post" action="/drive/traitement-client/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-client/{{id_client}}/">
    {% endif %}
    {% csrf_token %}
    {{ form_client.as_ul }}
    <input class="submit-input" type="submit" value="envoyer"\>
</body>
</html>