{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
    <h1>Voici la liste des Clients crées :</h1>
        <h2><a href="/drive/formulaire-client/">Ajouter un client</a></h2>
    <div class="bloc-info">
        {% for l in listALL_client %}
        {{ l }}<div class="separ-button"><button><a href="/drive/affiche-client/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-client/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-client/{{l.id}}/">DELETE</a></button></div>
        {% endfor %}
    </div>
{% endblock %}