{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
        <h1>Voici la liste des Clients crées :</h1>
        <button class="decal"><a href="/drive/formulaire-client/">FORMULAIRE</a></button>
        <br>
        {% for l in listALL_client %}
        <div class="bloc-info">
            <div class="container">{{ l.prenom }} {{ l.nom }}<button><a href="/drive/affiche-client/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-client/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-client/{{l.id}}/">DELETE</a></button></div>
        </div>
        {% endfor %}
    {% endblock %}