<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Catégorie</title>
</head>
<body>
    {% if id_cat == none %}
        <form method="post" action="/drive/traitement-catégorie/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-catégorie/{{id_cat}}/">
        {% csrf_token %}
        {{ form_cat.as_ul }}
        <input class="submit-input" type="submit" value="envoyer"\>
    {% endif %}
</body>
</html>