{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
    Formulaire Catégorie
    {% if id_cat == none %}
        <form method="post" action="/drive/traitement-catégorie/">  
    {% else %}
        <form method="post" action="/drive/updatetraitement-catégorie/{{id_cat}}/">
    {% endif %}
        {% csrf_token %}
    {{ form_cat.as_ul }}
    <input class="submit-input" type="submit" value="SEND"/>
            <button><a href="/drive/index-catégorie/">RETOUR</a></button>
{% endblock %}