{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}
        <h1>Voici la liste des Catégories crées :</h1>
        <button class="decal"><a href="/drive/formulaire-catégorie/">FORMULAIRE</a></button>
        <br>
        {% for l in listALL_categorie %}
        <div class="bloc-info">
            <div class="container">{{ l }}<button><a href="/drive/affiche-catégorie/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-catégorie/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-catégorie/{{l.id}}/">DELETE</a></button></div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}