{% extends "index.html" %}
{% block title %}
Drive
{% endblock %}
{% block content %}


        <h1>Voici la liste des Catégories crées :</h1>
        <h2><a href="/drive/formulaire-catégorie/">Ajouter une catégorie</a></h2>
    <div class="bloc-info">
        {% for l in listALL_categorie %}
        {{ l }}<div class="separ-button"><button><a href="/drive/affiche-catégorie/{{l.id}}/">AFFICHE</a></button><button><a href="/drive/update-catégorie/{{l.id}}/">UPDATE</a></button><button><a href="/drive/delete-catégorie/{{l.id}}/">DELETE</a></button></div>
        {% endfor %}
    </div>
{% endblock %}